/*  Background SVG noise  */
.svg_bg {
  background-color: var(--beige);
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  height: 100vh;
}
.rect_bg {
  fill: beige;
}

/* Index styles */
.top_set {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--light);
  background-color: var(--dark);
  height: 66px;
}
.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hl img {
  width: 200px;
  height: auto;
}
.ht {
  position: relative;
  font-weight: bold;
  margin-left: 1rem;
  cursor: pointer;
}
.ht::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 0px;
  background-color: black;
  transition: height 0.3s;
}
.ht:hover::after {
  height: 3px;
}
.underline {
  position: relative;
  font-weight: bold;
  margin-left: 1rem;
  cursor: pointer;
}
.underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-color: black;
  transition: height 0.3s;
}
.abordage {
  font-family: "Abordage", Arial, sans-serif;
}
.split_2 {
  padding: 5rem;
  display: flex;
  justify-content: space-between;
}
.split_2 div {
  width: 40%;
}
.text_1 {
  font-size: 48px;
}
.sd1 {
  position: relative;
}
.sd2 {
  width: 100%;
}
.svg_1 {
  position: absolute;
  right: -25%;
  top: 10%;
  width: 140px;
  height: auto;
}
.svg_2 {
  margin-top: 1rem;
}
.text_liner {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  margin: 0;
  font-weight: bold;
  width: 100%;
}
