/*  Background SVG noise  */
.svg_bg {
  background-color: var(--beige);
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  height: 100vh;
}
.rect_bg {
  fill: beige;
}

/* Index styles */
.top_set {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--light);
  background-color: var(--dark);
  height: 66px;
}
.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hl img {
  width: 200px;
  height: auto;
}
.ht {
  position: relative;
  font-weight: bold;
  margin-left: 1rem;
  cursor: pointer;
}
.ht::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 0px;
  background-color: black;
  transition: height 0.3s;
}
.ht:hover::after {
  height: 3px;
}
.htt {
  position: relative;
  cursor: pointer;
}
.htt::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 0px;
  background-color: black;
  transition: height 0.3s;
}
.htt:hover::after {
  height: 3px;
}
.underline {
  position: relative;
  font-weight: bold;
  margin-left: 1rem;
  cursor: pointer;
}
.underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-color: black;
  transition: height 0.3s;
}
.abordage {
  font-family: "Abordage", Arial, sans-serif;
}
.split_2 {
  padding: 5rem;
  display: flex;
  justify-content: space-between;
}
.split_2 div {
  width: 40%;
}
.text_1 {
  font-size: 48px;
}
.sd1 {
  position: relative;
}
.sd2 {
  width: 100%;
}
.svg_1 {
  position: absolute;
  right: -25%;
  top: 10%;
  width: 140px;
  height: auto;
}
.svg_2 {
  margin-top: 1rem;
}
.text_liner {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  margin: 0;
  font-weight: bold;
  width: 100%;
}
.text_liner_2 {
  font-size: 50px;
  text-align: center;
}
.text_liner_2 span {
  position: relative;
  text-decoration: none; /* Remove default underline */
}

.text_liner_2 span::before,
.text_liner_2 span::after {
  content: "";
  position: absolute;
  left: -5%;
  bottom: -4px;
  width: 110%;
  height: 3px;
  background-color: black;
  transition: height 0.3s;
}

.text_liner_2 span::before {
  width: 50%;
  bottom: -12px;
}

.text_liner_3 {
  font-size: 50px;
  position: relative;
  text-align: center;
}
.text_liner_3 span {
  position: relative;
  text-decoration: none;
}

.text_liner_3 span::before,
.text_liner_3 span::after {
  content: "";
  position: absolute;
  left: -5%;
  bottom: -8px;
  width: 110%;
  height: 3px;
  background-color: black;
  transition: height 0.3s;
}

.text_liner_3 span::before {
  width: 50%;
  right: 0;
  margin: auto;
  bottom: -16px;
}

.text_liner_4 {
  font-size: 50px;
  position: relative;
  text-align: center;
}
.text_liner_5 {
  font-size: 50px;
  position: relative;
  text-align: center;
}
.text_liner_4 span {
  position: relative;
  text-decoration: none;
}

.text_liner_4 span::before,
.text_liner_4 span::after {
  content: "";
  position: absolute;
  left: -5%;
  bottom: -8px;
  width: 110%;
  height: 3px;
  background-color: black;
  transition: height 0.3s;
}

.text_liner_4 span::before {
  width: 70%;
  left: 35%;
  bottom: -16px;
}
.helix_7 {
  width: 35px;
}
.c_p {
  color: var(--primary);
}
.card-container {
  margin-top: 5.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  row-gap: 10px;
}

.card {
  min-height: 500px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 2rem;
  background: #f9f9eb;
  box-shadow: -5px 0px 60px rgba(0, 0, 0, 0.05);
}
.card_header {
  font-size: 32px;
}
.card p {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #000000;
}
.flow_text {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 43px;
  padding: 2rem;
}
.helix_4 {
  position: absolute;
  margin-left: 6rem;
  bottom: -30px;
}
.io_123 {
  margin-top: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
}
.io_213 {
  width: 60%;
  font-size: 22px;
}
.hx_343 {
  position: relative;
  padding-left: 15%;
  margin-top: 5rem;
  padding-right: 15%;
}
.hx_343 ul li {
  list-style-type: none;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  cursor: pointer;
  line-height: 90px;
  transition: all 0.3s ease;
}
.hx_343 ul li span {
  margin-left: 0px !important;
}

.hx_343 .hx_img {
  top: -20%;
  width: 100px;
  left: 10%;
  position: absolute;
}
.hx_img_2 {
  position: absolute;
  right: 20%;
  bottom: 40%;
  width: 280px;
}
.cw_450 {
  max-width: 450px;
  min-width: 450px;
}
.ip_857 {
  display: flex;
  justify-content: center;
  width: 95%;
  align-items: center;
}
.ip_858 {
  display: flex;
}
.helix_8 {
  margin-right: 20px;
  width: 112;
}
.helix_9 {
  float: right;
  margin-right: 5rem;
}
.scroll_id {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pl_234 {
  margin-top: 5rem;
  padding: 5rem;
  border-radius: 30px;
  border: 3px solid var(--dark);
}
.pl_233 {
  font-family: "Chillax";
  font-style: normal;
  font-weight: 600;
  text-align: center;
  font-size: 40px;
  line-height: 56px;
}

.g_23 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  row-gap: 50px;
  column-gap: 30px;
}
.g_21 {
  border: 3px solid #000000;
  border-radius: 30px;
  padding: 3rem;
  font-family: "Chillax";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.g_21:hover {
  background-color: var(--button);
  transition: all 0.3s ease-in-out;
}

.g_54 {
  display: flex;
  margin-top: 5rem;
  align-items: center;
  justify-content: center;
}
.h_9 {
  display: flex;
  align-items: flex-start;
}
.pl_335 {
  margin-top: 1rem;
  margin: 20px;
}
.lo_434 {
  margin-top: 5rem;
  height: 450px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--dark);
}
.lp_43 {
  position: absolute;
  left: 10%;
  bottom: 2%;
}
.center {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 300px;
  flex-direction: column;
}
.flexed_1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.lp_432 {
  font-size: 20px;
}
.cw_400 {
  max-width: 400px;
}
.footer {
  width: 100%;
  background-color: #fff;
  min-height: 250px;
}
.sets {
  display: flex;
  justify-content: space-between;
}
.sets h1 {
  font-size: 32px;
  font-weight: 600;
}
.set_2 {
  margin-top: 1rem;
  font-weight: 600;
}
.set_2 div {
  line-height: 30px;
}
.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--dark);
}
.sp {
  margin-top: 10px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  font-weight: bold;
  min-width: 100%;
  word-wrap: none;
  color: #384100;
}

.sp p:nth-child(2) {
  margin-left: 10px;
}
.sp p:nth-child(3) {
  margin-left: 10px;
}

.split_3 {
  padding: 5rem;
  display: flex;
  justify-content: space-around;
}
.split_3 div {
  width: 40%;
}
.split_3 div:nth-child(1) {
  width: 45%;
}
.c1_text {
  font-size: 60px;
  font-weight: 400;
}
.step_1 {
  position: absolute;
  right: 0;
  top: 0;
  margin: 2rem;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark);
  color: #fff;
  font-size: 30px;
}
.s_head {
  padding-top: 5rem;
  padding: 3rem;
  min-height: 350px;
  background-color: var(--dark);
}
.s_head_1 {
  display: flex;
  justify-content: space-between;
}
.sh1 h1 {
  color: #fff;
  font-size: 44px;
  font-weight: 400;
}
.sh2 {
  font-weight: 600;
  color: #fff;
}
.sh2 div:nth-child(2) {
  color: var(--button);
}

.s_head_2 {
  color: #fff;
  display: flex;
  margin-top: 2rem;
  justify-content: space-around;
  width: 50%;
  float: right;
  font-weight: 700;
}

.s_head_2 > div div {
  font-weight: 600;
  font-size: 16px;
}
.s_head_2 div h1 {
  font-weight: 700;
  font-size: 40px;
}
.s_b_list {
  font-weight: 600;
  font-size: 18px;
}
.s_bottom {
  position: relative;
  height: 350px;
}
.s_b_list div {
  line-height: 35px;
}
.helix_14 {
  position: absolute;
  right: 10%;
  bottom: 3rem;
}
.helix_14 img {
  width: 250px;
}
.creator_icon {
  margin-top: 5rem;
  width: 80px;
  border-radius: 50%;
  padding: 5px;
  height: 80px;
  overflow: hidden;
  border: 2px solid var(--dark);
}
.creator_icon img {
  width: 100%;
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
}
.space {
  display: flex;
  width: 100%;
  max-height: 100%;
}

.space_1 {
  width: 25%;
}
.space_2 {
  width: 35%;
  max-height: 100%;
}
.space_3 {
  width: 40%;
  max-height: 100%;
}
.space_1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.action_list div {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 50px;
  color: var(--dark);
}
.button_3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 57px;
  background: var(--dark);
  border-radius: 10px;
  font-family: "Chillax";
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: var(--light);
}
.mb_1 {
  margin-bottom: 1rem;
}
.head_1 {
  display: flex;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom:2rem;
  justify-content: space-between;
}
.head_1 h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 45px;
  color: var(--dark);
}
.head_1 h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 31px;
  color: #808080;
}
.hll img {
  width: 150px;
  height: auto;
}
.wield {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  cursor: pointer;
  border: 1px solid #000000;
  border-radius: 50px;
  transition: 0.3s ease;
}
.wield:hover {
  background: var(--button);
  transition: 0.3s ease;
}
.wield i {
  font-size: 1.8rem;
}

.course_list {
  width: 100%;
  padding: 10px;
  max-height: 70%;
  overflow-y: scroll;
}
.course_list::-webkit-scrollbar {
  background-color: transparent;
}

.course_list::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: #f9f8f8;
}

.cl_items {
  width: 100%;
  height: 100%;
}
.cl_item {
  box-sizing: border-box;
  width: 100%;
  height: 166px;
  cursor: pointer;
  padding: 20px;
  background: var(--light);
  border-radius: 20px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  transition: all 0.1s ease;
}
.cl_item:hover {
  background: var(--button);
}
.cl_item:hover .cl_left p {
  color: var(--dark);
}
.cl_left h2 {
  font-weight: 600;
  margin-bottom: 10px;
}
.cl_left p {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  color: #808080;
}
.cl_num {
  width: 59px;
  height: 57px;
  background: var(--dark);
  border-radius: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  float: right;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.enrolled {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;

  color: var(--dark);
}
.us_2 img {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 50px;
}
.first_row {
  display: flex;
  margin-bottom:2rem;
  width: 100%;
  justify-content: space-between;
}
.icons_set {
  margin-left: 10%;
}
.icons_set i {
  font-size: 1.5rem;
  color: #808080;
}
.user_set {
  display: flex;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;

  color: var(--dark);
}
.us_1 {
  margin-right: 1rem;
}
.us_1 div:nth-child(2) {
  float: right;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #808080;
}

.index {
  border: 1px solid var(--dark);
  background: var(--button);
  color: var(--dark) !important;
}
.index .cl_left p {
  color: var(--dark) !important;
}
.hover_1 {
  background-color: var(--button);
  padding: 10px;
  border-radius: 0px;
}
.under {
  width: 80%;
  padding: 10px;
  max-height: 70%;
  margin-left: 10%;
}
.under_head {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 45px;
  color: #808080;
}
.tl_item {
  margin-bottom: 2rem;
  cursor: pointer;
  padding-bottom: 20px;
  position: relative;
  border-bottom: 1px solid #ddd;
}

.tl_item h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: var(--dark);
}
.tl_item p {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  color: #808080;
}
.note_1 {
  position: absolute;
  right: 0;
  top: 0;
  width: 55px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-style: normal;
  font-weight: 600;
  background-color: var(--dark);
  font-size: 15px;
  line-height: 21px;
  color: var(--button);
}
.space_4 {
  width: 40%;
}
.space_5 {
  width: 60%;
}
.sh_1 {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  justify-content: space-between;
}
.sh_1 h1 {
  font-family: "Chillax";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 45px;
}
.sh_1 h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #808080;
}
.sh_2 {
  justify-content: flex-end;
  display: flex;
}
.sh_2 .icons_set {
  margin-right: 10%;
}
.data_list {
  width: 100%;
  height: 100%;
}
.data_item {
  margin-bottom:5px;
  box-sizing: border-box;
  width: 100%;
  min-height: 103px;
  position:relative;
  display: flex;
  padding:1rem;
  border-radius: 20px;
  cursor: pointer;
}
.data_item .index{
  background-color: var(--button);
  border:1px solid var(--dark);
}
.index .hex p{
  color:var(--dark) !important;
}
.data_item:hover{
  background-color:var(--button);
}
.data_item:hover .hex p{
  color:var(--dark);
}
.data_item i {
 font-size:1.8rem;
}
.data_item .ic{
  margin-top:5px;
  margin-right:10px;
}
.hex h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: var(--dark);
}
.hex p {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  width:90%;
  color: #808080;
}
.note_2 {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 55px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-style: normal;
  font-weight: 600;
  background-color: var(--light);
  font-size: 15px;
  line-height: 21px;
  color: var(--dark);
}
.course_list{
  position:relative;
  overflow-x: hidden;
}
.mask{
  position:absolute;
  bottom:0;
  width:100%;
  height:10%;
  background: linear-gradient(360deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
}
.all_cont{
  height:70%;
}
.list_1{
  height:100%;
  max-height: 100%;
}